<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: aliceblue;">
<div class="row">
    <div class="col-4"><a href="{%url 'balance'%}" class="btn btn-primary">Balance Enquiry</a>&nbsp

        <a href="{%url 'transactions'%}" class="btn btn-info">Fund Transfer</a>&nbsp
        <a href="{%url 'history'%}" class="btn btn-success">Payment History</a>&nbsp
        <a href="{%url 'signout'%}" class="btn btn-danger">Logout</a></div>
    <a href="{%url 'filterhistory'%}" class="btn btn-info">Filter</a></div>
    <div class="col-4"><h1>Welcome Home</h1></div>
    <div class="col-4">
        {%if balance%}
            <h2>Your balance is {{balance}}</h2>
        {%endif%}
    </div>
</div>
</body>
</html>